<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список комнат</title>
</head>
<body>
    <h1>Список переговорных комнат</h1>
    <ul>
        {% for room in rooms %}
            <li>{{ room.name }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_room') }}">Добавить новую комнату</a>
    <a href="{{ url_for('main') }}">Вернуться к бронированию</a>
</body>
</html>
